h1 {
	margin: 0 !important;
}

.profile-container {
	display: grid;
	grid-template-columns: 1fr auto;
}

	.profile-container > .chart-container {
		background-color: hsl(220, 70%, 80%);
		text-align: center;
	}

		.profile-container > .chart-container > .chart {
			margin: 5px;
		}

			.profile-container > .chart-container > .chart > table {
				border: none;
				border-collapse: separate;
				table-layout: fixed;
			}

				.profile-container > .chart-container > .chart > table > tbody > tr > .day-square {
					text-align: center;
					color: white;
					border: 1px solid black;
					background-color: #f0f0f0;
					width: 1cm;
				}

				.profile-container > .chart-container > .chart > table > tbody > tr > .week-text {
					white-space: nowrap;
					font-size: 11pt;
					padding: 0 .25cm 0 .1cm;
					vertical-align: middle;
				}

@media only screen and (max-width: 860px) {
	.profile-container {
		display: block;
	}

		.profile-container table {
			width: 100%;
		}
}
