[*.cs]

# IDE0130: Let me use my own namespaces
dotnet_diagnostic.IDE0130.severity = none

# IDE0057: Let me use .Substring()
dotnet_diagnostic.IDE0057.severity = none

# CA1859: I know how to use method return types
dotnet_diagnostic.CA1859.severity = none
