<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="PropellerApi" version="1.0.19" targetFramework="net48" />
  <package id="RT.Json" version="2.0.1680" targetFramework="net48" />
  <package id="RT.PostBuild" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Serialization" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Serialization.Binary" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Serialization.Json" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Serialization.Xml" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Servers" version="1.0.1660" targetFramework="net48" />
  <package id="RT.TagSoup" version="1.0.1625" targetFramework="net48" />
  <package id="RT.Util" version="2.0.1680" targetFramework="net48" />
  <package id="RT.Util.Core" version="2.0.1680" targetFramework="net48" />
</packages>