<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="PropellerApi" version="1.0.24" targetFramework="net48" />
  <package id="RT.CommandLine" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Json" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Lingo.Base" version="2.0.1705" targetFramework="net48" />
  <package id="RT.PostBuild" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Serialization" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Serialization.Binary" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Serialization.Json" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Serialization.Xml" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Servers" version="1.0.1675" targetFramework="net48" />
  <package id="RT.TagSoup" version="1.0.1633" targetFramework="net48" />
  <package id="RT.Util" version="2.0.1705" targetFramework="net48" />
  <package id="RT.Util.Core" version="2.0.1705" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
</packages>